.app
    &__header
        background: #1C1C21
        box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04)
        margin-left: 40px
        margin-right: 40px
        margin-top: 40px

    &__main
        //border: 1px solid #00ff00
        max-width: 1240px
        width: 100%
        margin-left: auto
        margin-right: auto
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: stretch
        gap: 40px
        height: auto

